In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/kshedden/statswpy-nhanes/master/merged/nhanes_2015_2016.csv"
da = pd.read_csv(url)

In [2]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'INDFMPIR',
       'BPXSY1', 'BPXDI1', 'BPXSY2', 'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI',
       'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'HIQ210'],
      dtype='object')

In [3]:
da['BMXWT'].mean()         # we can get a mean

81.34267560889509

In [4]:
da['DMDEDUC2'].unique()    # Categorical Ordered

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [5]:

g = da['RIAGENDR']    # Categorical, Unordered 
g

0       1.0
1       1.0
2       1.0
3       2.0
4       2.0
       ...
5730    2.0
5731    1.0
5732    2.0
5733    1.0
5734    2.0
Name: RIAGENDR, Length: 5735, dtype: float64

In [6]:
g

0       1.0
1       1.0
2       1.0
3       2.0
4       2.0
       ...
5730    2.0
5731    1.0
5732    2.0
5733    1.0
5734    2.0
Name: RIAGENDR, Length: 5735, dtype: float64

In [7]:
g.unique()

array([1., 2.])

In [22]:
# one hot-vector representation 
#Categorical data are variables that contain label values rather than numeric values

clr = ['blue' ,'balck','green','yellow','red', 'green']   # clr is basically a lists of dictionary

In [23]:
d = {'categorical': clr}

In [24]:
df = pd.DataFrame(d)

In [25]:
df

  categorical
0        blue
1       balck
2       green
3      yellow
4         red
5       green

In [30]:
df['categorical'] 
# 0 1 2 .. are the indexes

0      blue
1     balck
2     green
3    yellow
4       red
5     green
Name: categorical, dtype: object

In [31]:
dfdumies = pd.get_dummies(df['categorical']  , prefix ='category')

In [35]:
dfdumies

,category_balck,category_blue,category_green,category_red,category_yellow
0,0,1,0,0,0
1,1,0,0,0,0
2,0,0,1,0,0
3,0,0,0,0,1
4,0,0,0,1,0
5,0,0,1,0,0

In [36]:
dfdumies.values

array([[0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0]], dtype=uint8)

In [44]:
#how we can convert values from a categorical column in our dataset into their 
#numerical counterparts, via the one-hot vector encoding scheme.


ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']

df = pd.DataFrame(list(zip(ids, countries)),
                  columns=['Ids', 'Countries'])

In [45]:
df.head()

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

In [46]:
y = pd.get_dummies(df.Countries,  prefix='Country')

In [47]:
y

   Country_France  Country_Germany  Country_Spain
0               0                0              1
1               1                0              0
2               0                0              1
3               0                1              0
4               1                0              0

In [48]:
y.values

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0]], dtype=uint8)

In [49]:

B = ['bird','cat','dog', 'cat', 'bird', 'bird']
# B is categorical unordered  variables representing numerical  using sacalar represntation which would intrinsic behaviour 
# variables make it unordered using --> One Hot Vector Encoding ...

d = {'categorical': B}

df = pd.DataFrame(d)

In [50]:
df

  categorical
0        bird
1         cat
2         dog
3         cat
4        bird
5        bird

In [51]:
df['categorical']

0    bird
1     cat
2     dog
3     cat
4    bird
5    bird
Name: categorical, dtype: object

In [54]:
dffrozenheart =pd.get_dummies(  df['categorical'], prefix= 'category')

In [55]:
dffrozenheart

   category_bird  category_cat  category_dog
0              1             0             0
1              0             1             0
2              0             0             1
3              0             1             0
4              1             0             0
5              1             0             0